.containerCalculator{
    text-align: center;
    margin-top: 12%;
}

.calculator{
    background-color: lightgrey;
    display: inline-block;
    width: 35%;
    border: solid darkgrey 10px;
    border-radius: 5px;
}

.containerScreen{
    width: 80%;
    padding-top: 2%;
    margin:0 auto;
}

.containerScreen2{
    width: 80%;
    margin:0 auto;
}

.screen{
    border: solid darkgrey 1px;
    border-radius: 5px;
    background-color: white;
    text-align-last: left;
    min-height: 20px;
    width: 100%;
    overflow: hidden;
}

.screen2{
    border: solid darkgrey 1px;
    border-radius: 5px;
    background-color: white;
    text-align-last:end;
    min-height: 20px;
    width: 100%;
    overflow: hidden;
}

.containerButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2%;
    height: 200px;
}

.trigonometry{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width:100px;
    height: 200px;
}

.numbers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:150px;
    height: 200px;
    
}

.button{
    margin: 4px;
    padding: 8px 10px;
    max-height: 40px;
    max-width: 40px;
}

.operators{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:150px;
    height: 200px;
    
}

#toThePowerOf{
    padding-top: 5px;
}

#ansButton{
    padding-left: 7px;
}

#radDegree{
    padding-left: 6px;
}

@media(max-width: 1250px){
    .calculator{
        background-color: lightgrey;
        display: inline-block;
        width: 30%;
        height:530px;
    }

    .button{
        margin: 4px;
        padding: 8px 12px;
        max-height: 40px;
        max-width: 40px;
    }

    .operators{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width:150px;
        height: 200px;
        margin-top: 20px;
    }

    #acButton{
        padding-left: 8px;
    }
}

@media(max-width: 849px){
    .calculator{
        background-color: lightgrey;
        display: inline-block;
        width: 60%;
        height: 330px;
    }

    .button{
        margin: 4px;
        padding: 8px 12px;
        max-height: 40px;
        max-width: 40px;
    }

    .operators{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width:150px;
        height: 200px;
        margin-top: 20px;
    }

    #acButton{
        padding-left: 8px;
    }
}

@media(max-width: 683px){
    .calculator{
        background-color: lightgrey;
        display: inline-block;
        width: 60%;
        height: 530px;
    }

    .button{
        margin: 4px;
        padding: 8px 12px;
        max-height: 40px;
        max-width: 40px;
    }

    .operators{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width:150px;
        height: 200px;
        margin-top: 20px;
    }

    #acButton{
        padding-left: 8px;
    }
}

@media(max-width: 501px){
    .calculator{
        background-color: lightgrey;
        display: inline-block;
        width: 90%;
        height: 330px;
    }

    .button{
        margin: 4px;
        padding: 8px 12px;
        max-height: 40px;
        max-width: 40px;
    }

    .operators{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width:150px;
        height: 200px;
        margin-top: 20px;
    }

    #acButton{
        padding-left: 8px;
    }
}

@media(max-width: 460px){
    .calculator{
        background-color: lightgrey;
        display: inline-block;
        width: 90%;
        height: 530px;
    }

    .button{
        margin: 4px;
        padding: 8px 12px;
        max-height: 40px;
        max-width: 40px;
    }

    .operators{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width:150px;
        height: 200px;
        margin-top: 20px;
    }

    #acButton{
        padding-left: 8px;
    }
}